<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="index.css">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <img src="./image/logo.jpg.jpg" class="logo" height="100%">
    <!--<div class="logo"><a href="#">ShoPperZ</a></div>-->
    <div class="menu">
      <a href="#">
        <ion-icon name="close" class="close"></ion-icon>
      </a>

      <ul>
        <li><a href="#" class="under">HOME</a></li>
        <li><a href="#" class="under">SHOP</a></li>
        <li><a href="/banner" class="under">OUR PRODUCTS</a></li>
        <li><a href="#" class="under">CONTACT US</a></li>
        <li><a href="#" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Search" id="input">
      </div>
    <div class="heading">
      <ul>
        <li><a href="/index" class="under">HOME</a></li>
        <li><a href="/login" class="under">LOGIN</a></li>
        <li><a href="/banner" class="under">OUR PRODUCTS</a></li>
        <li><a href="/contact" class="under">CONTACT US</a></li>
        <li><a href="/about" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>

    <h2>
        <p style="font-family: cursive;">About</p> 
    </h2>

    <p style="font-family: cursive;">GAM Techworld(George, Archie, McDonald) registered in England & Wales No.111111111. GAM is an online Tech marketplace registered in England & Wales to provide retail services of system hardware.

        Registered office: 51 knowe lane, Leeds, LS4 9ZZ.  GAM Techworld is aurhorised and regulated by the Financial Conduct Authority. Credit available on purchases from £99. Exclusions apply. Credit subject to status. GAM Techworld acts as a credit broker and not as a lender. Credit is provided by Creation Consumer Finance Ltd. Both GAM Techworld and Creation Consumer Finance Ltd are authorised and regulated by the Financial Conduct Authority.</p>
