<!DOCTYPE html>

    <h2>
        <p style="font-family: cursive;">About</p> 
    </h2>

    <p style="font-family: cursive;">GAM Techworld(George, Archie, McDonald) registered in England & Wales No.111111111. GAM is an online Tech marketplace registered in England & Wales to provide retail services of system hardware.

        Registered office: 51 knowe lane, Leeds, LS4 9ZZ.  GAM Techworld is aurhorised and regulated by the Financial Conduct Authority. Credit available on purchases from £99. Exclusions apply. Credit subject to status. GAM Techworld acts as a credit broker and not as a lender. Credit is provided by Creation Consumer Finance Ltd. Both GAM Techworld and Creation Consumer Finance Ltd are authorised and regulated by the Financial Conduct Authority.</p>