<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/basket2.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

</head>
<body>
  <header>
    <div class="nav">

      <a href="#" class="logo">
       <!-- <ion-icon name="fast-food"></ion-icon>--> 
        <ion-icon name="tech-marketplace"></ion-icon>
        Shopping Cart
      </a>

      <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
      </div>

      <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">

          <div class="cart-box">
            <img src="static/image/tv.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-product-title">Television</div>
              <div class="price-box">
                <div class="cart-price">£72</div>
                 <div class="cart-amt">£72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>

          <div class="cart-box">
            <img src="static/image/webcam.jpg" class="cart-img">
            <div class="detail-box">
              <div class="cart-product-title">webcam</div>
              <div class="price-box">
                <div class="cart-price">£72</div>
                 <div class="cart-amt">£72</div>
             </div>
              <input type="number" value="1" class="cart-quantity">
            </div>
            <ion-icon name="trash" class="cart-remove"></ion-icon>
          </div>
        
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">£0</div>
      </div>

      <button type="button" class="btn-buy" onclick="myFunction()">Place Order</button>
      <!--<button type="button" class="btn-buy">Place Order</button>-->

      <ion-icon name="close" id="cart-close"></ion-icon>


      </div>
    </div>
  </header>



  <div class="container">
    <h2 class="title">Discover the Best Prices</h2>
    <div class="shop-content">


      <div class="product-box">
        <div class="pic">
          <img src="static/image/battery.jpg" class="product-img">
        </div>
        <h2 class="product-title">Battery</h2>
        <span class="product-price">£40</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>


      <div class="product-box">
        <div class="pic"><img src="static/image/cd.jpg" class="product-img"></div>
        <h2 class="product-title">CD</h2>
        <span class="product-price">£65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="product-box">
        <div class="pic"><img src="static/image/charger.jpg" class="product-img"></div>
        <h2 class="product-title">charger</h2>
        <span class="product-price">£50</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="product-box">
        <div class="pic"><img src="static/image/cpu.jpg" class="product-img"></div>
        <h2 class="product-title">CPU</h2>
        <span class="product-price">£500</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="product-box">
        <div class="pic"><img src="static/image/flash.jpg" class="product-img"></div>
        <h2 class="product-title">Flash</h2>
        <span class="product-price">£25</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
      <div class="product-box">
        <div class="pic"><img src="static/image/laptop1.jpg" class="product-img"></div>
        <h2 class="product-title">Laptop</h2>
        <span class="product-price">£1000</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  
      <div class="product-box">
        <div class="pic"><img src="static/image/harddisk.jpg.jpg" class="product-img"></div>
        <h2 class="product-title">harddisk</h2>
        <span class="product-price">£10</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  
  
      <div class="product-box">
        <div class="pic"><img src="static/image/keyboard.jpg" class="product-img"></div>
        <h2 class="product-title">keyboard</h2>
        <span class="product-price">£20</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      </div>
  




    </div>
  </div>
  <script src="static/basket2.js"></script>
</body>
</html>

