<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="static\ban.css">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>

<body>
  <header>
    <img src="static/image/logo.jpg.jpg" class="logo" height="100%">
    <!--<div class="logo"><a href="#">ShoPperZ</a></div>-->
    <div class="menu">
      <a href="#">
        <ion-icon name="close" class="close"></ion-icon>
      </a>

      <ul>
        <li><a href="#" class="under">HOME</a></li>
        <li><a href="#" class="under">SHOP</a></li>
        <li><a href="/login_or_signup" class="under">OUR PRODUCTS</a></li>
        <li><a href="#" class="under">CONTACT US</a></li>
        <li><a href="#" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Search" id="input">
      </div>
    <div class="heading">
      <ul>
       <li><a href="/" class="under">HOME</a></li>
          <li><a href="/hide" class="under">SIGN IN/SIGN UP</a></li>
          <li><a href="/banner" class="under">OUR PRODUCTS</a></li>
          <li><a href="/contact" class="under">CONTACT US</a></li>
          <li><a href="/about" class="under">ABOUT US</a></li>
          <div class="box1">
            <div class="cart-count1">0</div>
            <ion-icon name="cart"  id="cart-icon1" ></ion-icon>
          </div>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
    <h2>
        <p style="font-family: cursive;"> </p>
    </h2>

    <body>
      <h1>Contact Us</h1>
      <p>We're here to help! If you have any questions or need assistance, please feel free to reach out to our dedicated customer support team. We'll be more than happy to assist you.</p>
  
      <h2>Email</h2>
      <p>For general inquiries, product information, or assistance with your order, please email us at:</p>
      <p><a href="mailto:support@gamtechmarketplace.com">support@gamtechmarketplace.com</a></p>
      
      <h2>Phone</h2>
      <p>You can also reach us by phone during our business hours:</p>
      <p>Monday to Friday: 9:00 AM - 6:00 PM (EST)</p>
      <p>Saturday: 10:00 AM - 4:00 PM (EST)</p>
      <p>Sunday: Closed</p>
      <p>Phone: <a href="tel:+18005551234">+1 (800) 555-1234</a></p>
  
      <h2>Social Media</h2>
      <p>Stay connected with us on social media for the latest updates, product announcements, and promotions:</p>
      <ul>
          <li><a href="https://www.facebook.com/GAMTechMarketplace" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/GAMTechMarket" target="_blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/gamtechmarketplace" target="_blank">Instagram</a></li>
          <li><a href="https://www.linkedin.com/company/gamtechmarketplace" target="_blank">LinkedIn</a></li>
      </ul>
  
      <p>We look forward to hearing from you and helping you with all your tech hardware needs!</p>
  </body>
  </html>