<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static\style.css"> 
    </head>

    <body>

        <h2 style="text-align:center">ThinkBook 13x Gen 2</h2>
        
        <div class="card">
          <img src="./image/laptop1.jpg" alt="laptop" style="width:100%"/>
          
          <h1>{{ prod_name }}</h1>
          <p class="price">£{{ price }}</p>
          <p>{{desc}}</p>
          <p><button>Add to Cart</button></p>
        </div>

        
        
     </body>
 </html>