<!DOCTYPE html>
<head>

  <link rel="stylesheet" href="index.css">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <img src="./image/logo.jpg.jpg" class="logo" height="100%">
    <!--<div class="logo"><a href="#">ShoPperZ</a></div>-->
    <div class="menu">
      <a href="#">
        <ion-icon name="close" class="close"></ion-icon>
      </a>

      <ul>
        <li><a href="/home" class="under">HOME</a></li>
        <li><a href="/basket" class="under">SHOP</a></li>
        <li><a href="/basket" class="under">OUR PRODUCTS</a></li>
        <li><a href="/basket" class="under">CONTACT US</a></li>
        <li><a href="/basket" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="search">

      <a href=""><input type="text" placeholder="search products" id="input">
        <ion-icon class="s" name="search"></ion-icon>
      </a>
    </div>
    <div class="heading">
      <ul>
        <li><a href="/home" class="under">HOME</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/login.html" class="under">LOGIN</a></li>
        <li><a href="/basket" class="under">OUR PRODUCTS</a></li>
        <li><a href="/contact" class="under">CONTACT US</a></li>
        <li><a href="/about" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST">
      <label>Username:</label>
      <input type="text" name="username" required><br>
      <label>Password:</label>
      <input type="password" name="password" required><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
