
    <!DOCTYPE html>  
    <html>   
    <head>  
        <link rel="stylesheet" href="index.css">
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
     <title>Form in HTML</title>  
   </head>  
   <header>
    <img src="./image/logo.jpg.jpg" class="logo" height="100%">
    <!--<div class="logo"><a href="#">ShoPperZ</a></div>-->
    <div class="menu">
      <a href="#">
        <ion-icon name="close" class="close"></ion-icon>
      </a>

      <ul>
        <li><a href="#" class="under">HOME</a></li>
        <li><a href="#" class="under">SHOP</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/basket2.html" class="under">OUR PRODUCTS</a></li>
        <li><a href="#" class="under">CONTACT US</a></li>
        <li><a href="#" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="search">
      <input type="text" placeholder="Search" id="input">
    </div>
    <div class="heading">
      <ul>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/home.html" class="under">HOME</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/signup.html" class="under">SIGN IN/SIGN UP</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/banner.html" class="under">OUR PRODUCTS</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/contact.html" class="under">CONTACT US</a></li>
        <li><a href="file:///C:/Users/PC/OneDrive/Desktop/webpages/about.html" class="under">ABOUT US</a></li>
      </ul>
    </div>
    <div class="heading1">
      <ion-icon name="menu" class="ham"></ion-icon>
    </div>
  </header>
    <body>  
        <h2>Registration form</h2>  
       <form method = "POST">  
        <fieldset>  
           <legend>User personal information</legend>  
           <label>Enter your name</label><br>  
           <input type="text" name="new_username" required><br>  
            <label>Enter your email</label><br>  
            <input type="email" name="email" required><br>  
            <label>Enter your password</label><br>  
            <input type="password" name="new_password" required><br>  
            <label>confirm your password</label><br>  
            <input type="password" name="new_password" required><br>   
             <br>Enter your Address:<br> 
             <input type="text" name = "postal_address" required><br>   
            <input type="submit"  value="Login">  
        </fieldset>  
     </form>  
    </body>  
   </html>